<div class="box">
  <h2 class="title is-4">User Management</h2>

  {{#if users}}
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.firstName}} {{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>
          {{#if this.isAdmin}}
          <span class="tag is-success">Admin</span>
          {{else}}
          <span class="tag is-light">User</span>
          {{/if}}
        </td>
        <td>
          <form action="/admin/deleteuser/{{this._id}}" method="POST" style="display: inline;">
            <button class="button is-small is-danger is-outlined" type="submit">
              <span class="icon is-small"><i class="fas fa-trash"></i></span>
              <span>Delete</span>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p class="has-text-grey">No users found.</p>
  {{/if}}

  <hr>

  <form action="/admin/deleteallusers" method="POST">
    <button class="button is-danger" type="submit">
      <span class="icon"><i class="fas fa-trash-alt"></i></span>
      <span>Delete All Users</span>
    </button>
  </form>
</div>